/*normalize*/html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background: fixed;
	background-image: -ms-linear-gradient(top, #006C9E 0%, #002333 80%);
	background-image: -moz-linear-gradient(top, #006C9E 0%, #002333 80%);
	background-image: -o-linear-gradient(top, #006C9E 0%, #002333 80%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #006C9E), color-stop(0.8, #002333));
	background-image: -webkit-linear-gradient(top, #006C9E 0%, #002333 80%);
	background-image: linear-gradient(to bottom, #006C9E 0%, #002333 80%);
	max-width: 720px;
	padding: 0.5em;
	margin: auto;
}

body > div {
	padding: 0.5em 0;
}

hr {
	border: 0px none;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #006C9E, #002333, #006C9E, transparent);
	margin: 1em 0;
}

progress {
	width: 90%;
	display: inline-block;
	box-sizing: border-box;
}

input, select, button {
	box-sizing: border-box;
}

input, select {
	width:100%;
	text-align: right;
	border: none;
	margin: 0;
	padding: 0;
	background-color: transparent;
}

input[type=number] {
	-moz-appearance:textfield;
}

#spanCalories,
#spanProtein,
#spanCarbohydrate,
#spanFat {
	width: 10%;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	font-weight: bold;
}

#btnPrev,
#spanDate,
#btnNext {
	width: 33%;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}

#selQuickFood {
	background-color: #002333;
	text-align: left;
	border: 1px solid #006C9E;
	color: white;
}

#selQuickFood,
#btnRemoveQuickFood,
#btnAddQuickFood {
	display: inline-block;
	width: 33%;
}

#tblFoods {
	width: 100%;
	box-sizing: border-box;
	font-size: 80%;
}


#tblFoods > thead th {
	background-color: #002333;
	color: white;
}

#tblFoods thead tr:nth-child(2) td {
	border: 1px solid #006C9E;
}

#tblFoods td {
	text-align: right;
	padding: 0.2em;
}

#tblFoods td:first-child, 
#tblFoods td:first-child input {
	text-align: left;
}

#tblFoods > tfoot td {
	background-color: #002333;
	color: white;
	font-weight: bold;
}


button {
	font-size: 80%;
	background-color: #002333;
	border: 2px solid #006C9E;
	color: white;
	font-weight: bold;
	padding: 0.25em 1em;
}

header {
	padding: 1em 0;
	background-color: #002333;
}

header a {
	color: white;
	padding-left: 2em;
	text-decoration: none;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
}

a, a:focus, a:link, a:visited {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

a[data-remove-row] {
	color: red;
	font-weight: bold;
	font-family: consolas, monaco, monospace;
	cursor: pointer;
}

.grid-pad {
	padding: 0 0.25em;
}
